# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (if you ever test locally)
node_modules/
package-lock.json

# Syphio specific
rules/temp/